---
import type { Proyect } from "@/interfaces/Proyect";
import { Icon } from "astro-icon/components";

interface Props {
  data : Proyect;
}

const { data} = Astro.props;
const { title, description, image, color, tags } = data;
---

<div class="cardProyect" style=`--color:${color}`>
  <img class="cardProyect__img" src={image} alt={title} />
  <div class="cardProyect__content textFlow">
    <h3>{title}</h3>
    <p class="color-white-300">{description}</p>
    <footer class="display:flex gap:4">
      {
        tags.map((tag) => (
          <span>
            <Icon name={tag} />
          </span>
        ))
      }
    </footer>
  </div>
</div>

