---
import type { Proyect } from "@/interfaces/Proyect";
import { Icon } from "astro-icon/components";

interface Props {
  data : Proyect;
}

const { data} = Astro.props;
const { title, description, image, color, tags } = data;
---

<div class="cardProyect" style=`--color:${color}`>
  <img class="cardProyect__img" src={image} alt={title} />
  <div class="cardProyect__content textFlow">
    <h3>{title}</h3>
    <p>{description}</p>
    <footer class="display:flex gap:4">
      {
        tags.map((tag) => (
          <span>
            <Icon name={tag} />
          </span>
        ))
      }
    </footer>
  </div>
</div>

<style is:global lang="scss">
  .cardProyect {
    --_scale: var(--scale, 1);
    --_opacity: var(--opacity, 1);
    --_moveX: var(--moveX, 0);

    display: grid;
    background-color: var(--color, black);
    padding: 1rem;
    overflow: hidden;

    &:hover {
      --scale: 1.7;
      --opacity: 0;
      --moveX: -1rem;
    }

    > * {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__img {
      width: 70%;
      aspect-ratio: 1;
      justify-self: end;
      transform-origin: top right;
      transition: transform 0.4s;
      transform: scale(var(--_scale));
    }

    &__content {
      // background-color: rgba(220, 20, 60, 0.492);
      justify-self: start;
      align-self: center;
      width: 60%;
      color: white;
      pointer-events: none;
      transition:
        opacity 0.4s,
        transform 0.4s;
      z-index: 1;
      opacity: var(--_opacity);
      transform: translateX(var(--_moveX));
    }
  }
</style>
