---
import Navbar from "@/components/Navbar.astro";
import "@/scss/index.scss";
import Footer from "@/sections/Footer.astro";
import { ViewTransitions } from "astro:transitions";
// import { ViewTransitions } from 'astro:transitions';

interface Props {
  titulo: string;
  descripction: string;
  imagen?: string;
}

const { titulo, descripction, imagen } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{titulo} - Portafolio</title>
    <meta name="description" content={descripction} />
    <link rel="icon" type="image/png" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- fuente -->
    <link
      fetchpriority="high"
      rel="preload"
      as="font"
      href="/fonts/Inter-VariableFont_wght-subset.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <slot name="preload" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={titulo} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:description" content={descripction} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={imagen} />

    <ViewTransitions />
  </head>
  <body >
    <!-- <header style="position: sticky; top: 0;" >hola</header> -->
     <Navbar />
    <main style="overflow-x: hidden;">
      <slot />
    </main>
    <Footer />
    
  </body>
</html>

<script>
  import { main } from "@/scripts/index";
  document.addEventListener("DOMContentLoaded", main);
</script>
