---
import Navbar from "@/components/Navbar.astro";
import "@/scss/index.scss";
import Footer from "@/sections/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  titulo: string;
  descripction: string;
  imagen?: string;
}

const { titulo, descripction, imagen='https://enriquecalero.netlify.app/img/foto.webp' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{titulo} - Portafolio</title>
    <meta name="description" content={descripction} />
    <link rel="icon" type="image/png" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- fuente -->
    <link
      fetchpriority="high"
      rel="preload"
      as="font"
      href="/fonts/Inter-VariableFont_wght-subset.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <slot name="preload" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={titulo} />
    <meta property="og:url" content={`https://enriquecalero.netlify.app/`} />
    <meta property="og:description" content={descripction} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={imagen} />

    <ViewTransitions />
  </head>
  <body >
     <Navbar />
    <main style="overflow-x: hidden;">
      <slot />
    </main>
    <Footer />
    
  </body>
</html>

<script>
  document.addEventListener("astro:page-load", () => {
    const animationLoadingTop = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("ok");
            observer.unobserve(entry.target);
          }
        });
      }
    );

    const $ElementAnimationTop = [
      ...document.querySelectorAll<HTMLElement>(".loading-top"),
    ];

    if ($ElementAnimationTop.length > 0) {
      $ElementAnimationTop.forEach((elem) => animationLoadingTop.observe(elem));
    }
  });
</script>